<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Rams-Lucy</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- script
    ================================================== -->
    <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pace.min.js') }}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Homepage"></a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
                <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->


   <!-- home
   ================================================== -->
   <section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="https://c4.wallpaperflare.com/wallpaper/813/604/36/gundam-anime-mobile-suit-gundam-unicorn-wallpaper-preview.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Hello There</h3>

                <h1>
                    I am Rams T (Lucy). <br>
                    I am an member internet<br>
                    activist and web designer
                </h1>

                <div class="home-content__buttons">
                    <a href="#about" class="smoothscroll btn btn--stroke">
                        More About Me
                    </a>
                </div>

                <div class="home-content__scroll">
                    <a href="#about" class="scroll-link smoothscroll">
                        <span>Scroll Down</span>
                    </a>
                </div>

            </div>

        </div> <!-- end home-content -->

        <ul class="home-social">
            <li>
                <a href="#"><i class="im im-facebook" aria-hidden="true"></i><span>Facebook</span></a>
            </li>
            <li>
                <a href="#"><i class="im im-twitter" aria-hidden="true"></i><span>Twiiter</span></a>
            </li>
            <li>
                <a href="#"><i class="im im-instagram" aria-hidden="true"></i><span>Instagram</span></a>
            </li>
        </ul> 
        <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">
        
        <div class="row about-content">
            <div class="col-six tab-full left">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Homepage">
            </div>
            <div class="col-six tab-full right">
                <h3>About</h3>
                <h1>More About Me</h1>
                <p class="lead">Меня зовут Ramsyan Tungga, я живу в месте, известном мрамором, мне нравится программировать и изучать психологию, а моя любимая еда — fried rice, fried noodles, satay, soup, curry and rawon. Художники, которые мне нравятся
                <br>
                За границей: Hozier, Dua Lipa, Xxtenations, Travis Scott, Maroon, Lil Nas X, Michael Jackson, Likin Park, и Sullivan King<br>
                внутренний (ID): Bunga Citra Lestari, Ungu, Padi, Kangen Band, и Tulus
                </p>
            </div>
        </div>

        <div class="row about-content">

            <div class="col-six tab-full left">
                <h3>Howdy!</h3>

                <p style="font-size: 18px">Привет, как дела, ребята. Добро пожаловать в мое портфолио биоданных, ранее называвшееся <a style="font-size: 14px" href="#about">about me</a></p>

                <p style="font-size: 18px">
                Я простой человек, который каждый день сталкивается со своим устройством. работать как есть, чтобы удовлетворять повседневные потребности, моя цель — открывать рабочие места в сфере ИТ на моем месте, мое видение и миссия: создавать рабочие места и внедрять технологии и знания, которые я получаю от друзей.

                Мой личностный статус Студент.
                и я выбрал другую профессию с моими навыками из-за принуждения родителей, но я продолжал выполнять свои обязанности в детстве и сопровождался молитвой, а также большим чувством энтузиазма.

                </p>
            </div>

            <div class="col-six tab-full right">
                <h3>My Skills.</h3>

                <ul class="skill-bars">
                    <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>HTML5</strong>
                    </li>
                    <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>CSS3</strong>
                    </li>
                    <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>JQuery</strong>
                    </li>
                    <li>
                    <div class="progress percent95"><span>95%</span></div>
                    <strong>Python Web</strong>
                    </li>
                    <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>PHP</strong>
                    </li>   
                    <li>
                    <div class="progress percent45"><span>45%</span></div>
                    <strong>C</strong>
                    </li>   
                </ul>
            </div>

        </div> <!-- end about-content -->

        <div class="row about-content about-content--buttons">

            <div class="col-six tab-full left">
                <a href="#0" class="btn btn--primary full-width">Download My CV</a>
            </div>
            <div class="col-six tab-full right">
                <a href="#0" class="btn full-width">Hire Me Now</a>
            </div>

        </div> <!-- end about-content buttons -->

        <div class="row about-content about-content--timeline">

            <div class="col-full text-center">
                <h3>My Educational History</h3>
            </div>

            <div class="col-six tab-full left">
                <div class="timeline">
                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">Agust 2021 - Now</p>
                            <h3>University "Tulungagung"</h3>
                            <h5>Tulungagung, Boyolangu</h5>
                        </div>
                        <div class="timeline__desc">
                            <p>-</p>
                        </div>
                    </div> <!-- end timeline__block -->

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">July 2018 - July 2021</p>
                            <h3>Senior High School "Boyolangu 2"</h3>
                            <h5>Tulungagung, Boyolangu</h5>
                        </div>
                        <div class="timeline__desc">
                            <p>Я проводил время, когда я был в школе там с моими друзьями.</p>
                        </div>
                    </div> <!-- end timeline__block -->

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">July 2015 - June 2018</p>
                            <h3>Junior High School "Besuki 2"</h3>
                            <h5>Tulungagung, Besuki</h5>
                        </div>
                        <div class="timeline__desc">	
                            <p>Я проводил время, когда я был в школе там с моими друзьями. и там я получил школьные достижения.</p>
                        </div>
                    </div> <!-- end timeline__block -->

                </div> <!-- end timeline -->
            </div> <!-- end left -->

            <div class="col-six tab-full right">
                <div class="timeline">

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">July 2012 - June 2015</p>
                            <h3>Grade School "Besole 3"</h3>
                            <h5>Tulungagung, Besuki</h5>
                        </div>
                        <div class="timeline__desc">
                            <p>Я проводил время, когда был маленьким, с друзьями, и там я получил школьные достижения.</p>
                        </div>
                    </div>
                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">July 2010 - June 2012</p>
                            <h3>Grade School "Balet Baru 2"</h3>
                            <h5>Jember, Sukowono</h5>
                        </div>
                        <div class="timeline__desc">
                            <p>Я проводил время, когда был маленьким, с друзьями, и там я получил школьные достижения.</p>
                        </div>
                    </div>
                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">July 2009 - June 2010</p>
                            <h3>Grade School "Sukosari 1"</h3>
                            <h5>Jember, Sukosari</h5>
                        </div>
                        <div class="timeline__desc">
                            <p>Я проводил время, когда был маленьким, с друзьями, и там я получил школьные достижения.</p>
                        </div>
                    </div> <!-- end timeline__block -->

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">July 2007 - June 2009</p>
                            <h3>Kindergarten "AL KHOIRI 2"</h3>
                            <h5>Jember, Sukowono</h5>
                        </div>
                        <div class="timeline__desc">
                            <p>Я проводил время, когда был маленьким, с друзьями, и там я получил школьные достижения.</p>
                        </div>
                    </div> <!-- end timeline__block -->

                </div> <!-- end timeline -->
            </div> <!-- end right -->

        </div> <!-- end about-content timeline -->

    </section> <!-- end about -->
    



    <!-- teams
    ================================================== -->
    <div class="s-teams">

        <div class="overlay"></div>

        <div class="row teams-header">
            <div class="col-full">
                <h1 class="h02">Team Cyber LcferShell</h1>
            </div>
        </div>

        <div class="row teams">

            <div class="col-full teams__slider">

                <div class="teams__slide">
                    <img src="{{ url_for('static', filename='images/avatars/user-01.jpg') }}" alt="Author image" class="teams__avatar">
                    <p>-</p>
                    <div class="teams__author h06">
                        Jasop Selk L
                        <span>CEO, LcfherShell</span>
                    </div>
                </div>

                <div class="teams__slide">
                    <img src="{{ url_for('static', filename='images/avatars/user-05.jpg') }}" alt="Author image" class="teams__avatar">
                    <p>-</p>
                    <div class="teams__author h06">
                        Mila A
                        <span>Member</span>
                    </div>
                </div>

                <div class="teams__slide">
                    <img src="{{ url_for('static', filename='images/avatars/user-02.jpg') }}" alt="Author image" class="teams__avatar">
                    <p>-</p>
                    <div class="teams__author h06">
                        Solaeman Abdul
                        <span>Member</span>
                    </div>
                </div>
                <div class="teams__slide">
                    <img src="{{ url_for('static', filename='images/avatars/user-02.jpg') }}" alt="Author image" class="teams__avatar">
                    <p>-</p>
                    <div class="teams__author h06">
                        Ramsyan Tungga
                        <span>Member</span>
                    </div>
                </div>
                
            </div> <!-- end teams__slider -->

        </div> <!-- end teams -->

    </div> <!-- end s-teams -->

    <!-- s-stats
    ================================================== -->
    <section id="stats" class="s-stats">
        <h3>HackerRank Point</h3>
        <div class="row block-1-4 block-tab-1-2 block-mob-full stats">
            <div class="col-block stats__col ">
                <div class="stats__count">
                    126
                </div>
                <h4>Social Enginer</h4>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">
                    1541
                </div>
                <h4>DDOS/s</h4>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">
                    30
                </div>
                <h4>Bug Bounty</h4>
            </div>
            <div class="col-block stats__col stats__col--highlight">
                <div class="stats__upsign">
                    <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
                </div>
                <div class="stats__count">
                    110
                </div>
                <h4>Rank</h4>
            </div>
        </div>
    </section> <!-- end s-stats -->


    <!-- s-stats
    ================================================== -->
    <section id="contact" class="s-contact target-section">

        <div class="overlay"></div>

        <div class="row narrow section-intro">
            <div class="col-full">
                <h3>Contact</h3>
                <h1>отправить сообщение</h1>

                <p class="lead">
                Привет, кто сидит в Интернете, пожалуйста, пришлите нам сообщение или свое мнение о нашей странице или команде.</p>
            </div>
        </div>

        <div class="row contact__main">
            <div class="col-eight tab-full contact__form">
                <form name="contactForm" id="contactForm" method="post" action="">
                    <fieldset>
    
                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" class="full-width">
                    </div>
                    <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary">Submit</button>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
    
                    </fieldset>
                </form>

                <!-- contact-warning -->
                <div class="message-warning">
                    Something went wrong. Please try again.
                </div> 
            
                <!-- contact-success -->
                <div class="message-success">
                    Your message was sent, thank you!<br>
                </div>
                        
            </div>
            <div class="col-four tab-full contact__infos">
                <h4 class="h06">Email</h4>
                <p>lcfhershell@tutanota.com<br>
                alfiandecker2@gmail.com
                </p>

                <h4 class="h06">Address</h4>
                <p>
                Poliny Osipenko Street, 5<br>
                Irkutsk, Irkutsk Oblast<br>
                664025 RU
                </p>
            </div>

        </div>

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-full">

                <div class="footer-logo">
                    <a class="footer-site-logo" href="#0"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Homepage"></a>
                </div>

                <ul class="footer-social">
                    <li><a href="#0">
                        <i class="im im-facebook" aria-hidden="true"></i>
                        <span>Facebook</span>
                    </a></li>
                    <li><a href="#0">
                        <i class="im im-twitter" aria-hidden="true"></i>
                        <span>Twitter</span>
                    </a></li>
                    <li><a href="#0">
                        <i class="im im-instagram" aria-hidden="true"></i>
                        <span>Instagram</span>
                    </a></li>
                </ul>
                    
            </div>
        </div>

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright blackhat</span> 
                    <span>Design by <a href="https://www.blackhat.com/">blackhat</a></span>	
                </div>

                <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>