<!DOCTYPE html>
<html>
<head>
<title>Dashboard/{{ username }} </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Mania Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!-- sssss --->
<link href="{{ url_for('static', filename='bootstrap5/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static', filename='bootstrap5/js/jquery.min.js') }}"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="{{ url_for('static', filename='bootstrap5/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start menu -->
<link href="{{ url_for('static', filename='bootstrap5/css/memenu.css') }}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap5/js/memenu.js') }}"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<script src="{{ url_for('static', filename='bootstrap5/js/simpleCart.min.js') }}"> </script>
<!-- slide -->
<script src="{{ url_for('static', filename='bootstrap5/js/responsiveslides.min.js') }}"></script>
   <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
<style>
.banner-responsive{
    width: 400px;
    height: 93px;
}
</style>
</head>
<body>
<div class="header">
	<div class="header-top">
		<div class="container">
		<div class="col-sm-4 world">
					<ul >
						<li>
						<select class="in-drop">
							  <option>English</option>
							  <option>Japanese</option>
							  <option>French</option>
							</select></li>
						<li><select class="in-drop1">
							  <option>Dollar</option>
							  <option>Euro</option>
							  <option>Yen</option>
							</select>
						</li>
					</ul>
				</div>
				<div class="col-sm-4 logo">
					<a href="/"><img src="{{ url_for('static', filename='bootstrap/images/icons/logos.png') }}" alt=""></a>	
				</div>
		
			<div class="col-sm-4 header-left">		
					<div class="cart box_1">
						<a href="checkout.html">
						<h3> <div class="total">
							<span class="simpleCart_total"></span></div>
							<img src="{{ url_for('static', filename='bootstrap/images/icons/cart.png') }}" alt=""/></h3>
						</a>
						<p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>

					</div>
					<div class="clearfix"> </div>
			</div>
				<div class="clearfix"> </div>
		</div>
		</div>
		<div class="container">
			<div class="head-top">
				<div class="col-sm-2 number">
					<span><i class="glyphicon glyphicon-phone"></i>085 596 234</span>
				</div>
		 <div class="col-sm-8 h_menu4">
				<ul class="memenu skyblue">
					  <li class=" grid">
					  	<a  href="index.html">Home</a>
					  </li>	
				    <li class="grid">
                        <a  href="#">Category</a>
					  	<div class="mepanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<h4>All Category</h4>
									<ul>
										<li><a href="{{ url_for('store', categorys='clothing') }}">Clothing</a></li>
										<li><a href="{{ url_for('store', categorys='vehicles') }}">Vehicles</a></li>
										<li><a href="{{ url_for('store', categorys='drinks and food') }}">Drinks & Food</a></li>
										<li><a href="{{ url_for('store', categorys='daily needs') }}">Daily Needs</a></li>
										<li><a href="{{ url_for('store', categorys='fashion') }}">Fashion</a></li>
										<li><a href="{{ url_for('store', categorys='electronic') }}">Electronic</a></li>
										<li><a href="{{ url_for('store', categorys='tools') }}">Tools</a></li>
										<li><a href="{{ url_for('store', categorys='healthy') }}">Healthy</a></li>
										<li><a href="{{ url_for('store', categorys='kitchen') }}">Kitchen</a></li>
										<li><a href="{{ url_for('store', categorys='others') }}">Others</a></li>
										
									</ul>	
								</div>							
							</div>
						  </div>
						</div>
			    </li>
				<li><a  href="{{ url_for('index') }}">Blog</a></li>				
				<li><a class="color6" href="{{ url_for('contact') }}">Contact</a></li>
        {% if sellerlist and costumerlist %}
         <li><a  href="{{ url_for('myseller', page=1) }}">Sales Item</a></li>
         <li><a  href="{{ url_for('mycostumer', page=1) }}">Purchase Item</a></li>
        {% elif sellerlist %}
          <li><a  href="{{ url_for('myseller', page=1) }}">Sales Item</a></li>
        {% elif costumerlist %}
          <li><a  href="{{ url_for('mycostumer', page=1) }}">Purchase Item</a></li>
        {% else %}
        {% endif %}
			  </ul> 
			</div>
		</div>

        <div class="clearfix"> </div>
			<!---pop-up-box---->
					  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap5/js/modernizr.custom.min.js') }}"></script>    
					<link href="{{ url_for('static', filename='bootstrap5/css/popuo-box.css') }}" rel="stylesheet" type="text/css" media="all"/>
					<script src="{{ url_for('static', filename='bootstrap5/js/jquery.magnific-popup.js') }}" type="text/javascript"></script>
					<!---//pop-up-box---->
				<div id="small-dialog" class="mfp-hide">>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>			
	<!---->		
		</div>
	</div>
</div>
          <input type="text" id="myInput" onkeyup="search()" placeholder="Search Username" title="Type in a name">
          <br>
          <table id="tables">
           <tr>  
                 <th>No</th>
                 <th>Username</th>
                 <th>Product</th>
                 <th>Brand</th>
                 <th>Price</th>
                 <th>Stock</th>
                 <th>Options</th>
           </tr>

             {% for x in roundseller %}
           
            <tr>  
                {% if seller[x].username == user %}
                 <td>{{ x+1 }}</td>
                 <td>{{ seller[x].username }}</td>
                 <td>{{ seller[x].product }}</td>
                 <td>{{ seller[x].brand }}
                 <td>{{ ConvertMany(seller[x].price, '.') }}</td>
                 <td>{{ ConvertMany(seller[x].stock, '.') }}</td>
                 <td><a href="{{ url_for('upproduct', id=seller[x].id )}}">Update></a> <a href="{{ url_for('dellproduct', id=seller[x].id )}}">Delete</a> </td>
                {% endif %}      
            </tr>
            {% endfor %} 
          </table>



        <table id="tables">
           <tr>  
                 <th>No</th>
                 <th>Costumer</th>
                 <th>Product</th>
                 <th>Price</th>
                 <th>Total</th>
                 <th>Options</th>
           </tr>

             {% for x in roundcostumer %}
           
            <tr>  
                {% if costumer[x].seller == user %}
                 <td>{{ x-1 }}</td>
                 <td>{{ costumer[x].username }}</td>
                 <td>{{ costumer[x].product }}</td>
                 <td>{{ ConvertMany(costumer[x].price, '.') }}</td>
                 <td>{{ ConvertMany(costumer[x].total, '.') }}</td>
                 <td><a href="{{ url_for('rundelete', id=costumer[x].id ) }}">Confirm</a> </td>
                {% endif %}      
            </tr>
            {% endfor %} 
          </table>